<!doctype html>
<html class="no-js" lang="ru">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <link rel="stylesheet" href="css/cart.css">


  <meta name="theme-color" content="#fafafa">
  <script src="./js/main.js">

  </script>
</head>

<body>

<header>

  <div class="top__line">

    <div class="container">
      <a href="#">Currency:GBP</a>

      <ul class="top_menu">
        <li class="item_top_menu"><a href="#">Register</a></li>
        <li class="item_top_menu"><a href="#">Sign in</a></li>
        <li class="item_top_menu cart">
          <a href="#">
            <i class="fas fa-shopping-cart"></i>
            empty
            <i class="fas fa-angle-down"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>

  <div class="main_menu_bg">

    <div class="main_menu">

      <h2 class="home_title">ATOM <span>SORE</span> </h2>

      <menu class="main_menu_of_site">
        <li class="menu_item"> <a href="#">menu</a> </li>
        <li class="menu_item"> <a href="#">womens</a> </li>
        <li class="menu_item"> <a href="#">the brand</a> </li>
        <li class="menu_item"> <a href="#">local stores</a> </li>
        <li class="menu_item search_item_of_menu">
          <form>
            <label class="search_container" for="search">

              <input type="text" id="search" placeholder="Search...">
              <button class="search_btn">
                <i class="fas fa-search"></i>
              </button>

            </label>
          </form>
        </li>
      </menu>

    </div>

  </div>

  <div class="main_bg">

    <!-- {% block title_section %} -->

    <h1 class="main_title">
      Atom
    </h1>

    <!-- {% endblock %} -->

  </div>

</header>


<main>

<section class="Cart">

  <div class="cart_box">
    <ul class="cart_product_list">
      <li class="cart_product_list_item">

        <div class="cart_product_img">
          <img src="img/products__img/phone.png" alt="phone">
        </div>

        <div class="cart_product_info">

          <div class="cart_product_title_and_price_box">

            <h2 class="cart_product_title">Lorem illo delectus? Assumenda.</h2>
            <p class="cart_product_price">20000R</p>

          </div>

          <div class="cart_broduct_description_box">

            <p class="cart_product_description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
              . Aperiam officiis et at nobis quia soluta a vitae ea minima,
              totam perspiciatis voluptatem quisquam quam cupiditate facilis,
              tempora quae magnam facere.
            </p>
            <p class="cart_count_of_product">Count: <span> 2 </span></p>

          </div>

        </div>

        <button title="delet this product" class="cart_product_remove_btn">
          <i class="fas fa-times"></i>
        </button>

      </li>

      <li class="cart_product_list_item">

        <div class="cart_product_img">
          <img src="img/products__img/tv.png" alt="phone">
        </div>

        <div class="cart_product_info">

          <div class="cart_product_title_and_price_box">

            <h2 class="cart_product_title">Lorem illo delectus? Assumenda.</h2>
            <p class="cart_product_price">20000R</p>

          </div>

          <div class="cart_broduct_description_box">

            <p class="cart_product_description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit
              . Aperiam officiis et at nobis quia soluta a vitae ea minima,
              totam perspiciatis voluptatem quisquam quam cupiditate facilis,
              tempora quae magnam facere.
            </p>
            <p class="cart_count_of_product">Count: <span> 2 </span></p>

          </div>

        </div>

        <button title="delet this product" class="cart_product_remove_btn">
          <i class="fas fa-times"></i>
        </button>

      </li>
    </ul>

    <form class="send_order_box">
      <p class="sum_of_price">
        40000R
      </p>
      <button type="submit" class="send_order_btn">Send order</button>
    </form>

  </div>

</section>

</main>



<footer>

  <form class="feedback_form">

    <h3 class="feedback_title">
      Feedback
    </h3>

    <label for="email_feedback_form">
      <input type="text" id="email_feedback_form" placeholder="Email...">
    </label>

    <label for="text_feedback_form">
      <input type="text" id="text_feedback_form" placeholder="Text...">
    </label>

    <button type="submit" class="btn_of_feedback_form">
      send
    </button>


  </form>

  <div class="bttom_line">

    <p class="date">2019 - 2200</p>

  </div>

</footer>

</body>

</html>
