<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
  <script src="./js/main.js">

  </script>
</head>

<body>
<header>

  <div class="header__bg"></div>

  <h1 class="main__title">
    ATOM
  </h1>

  <div class="top__line">
    <div class="top__line__box">
      <a class="top__line__item__text">Currency : GBP</a>
      <ul class="sign__up__menu">
        <li class="top__line__item"><a href="#" class="top__line__item__link">Регистрация</a></li>
        <li class="top__line__item"><a href="#" class="top__line__item__link">Вход</a></li>
        <li class="top__line__item"><a class="top__line__item__link"><i class=" fas fa-shopping-cart"></i>Пусто</a></li>
      </ul>
    </div>
  </div>

  <nav class="main__nav__bur">
    <a class="main__site__title" href="#">ATOM <span>Store</span></a>
    <ul class="main__menu">
      <li id="first__list" class="main__menu__item"><a class="main__menu__item__link" href="#">Mans <i
        class="fas fa-chevron-down"></i></a>
        <div class="menu__list">
          <div class="menu__list__helper">
            <div class="menu__list__item">
              <p class="menu__list__item__part__text">Casuals</p>
              <ul class="menu__list__item__part">
                <li class="menu__list__instance"><a href="#">Jackets</a></li>
                <li class="menu__list__instance"><a href="#">Hoodies & Sweatshirts</a></li>
                <li class="menu__list__instance"><a href="#">Polo Shirts</a></li>
                <li class="menu__list__instance"><a href="#">Sportswear</a></li>
                <li class="menu__list__instance"><a href="#">Trousers & Chinos</a></li>
                <li class="menu__list__instance"><a href="#">T-Shirts</a></li>
              </ul>
            </div>
            <div class="menu__list__item">
              <p class="menu__list__item__part__text">Formal</p>
              <ul class="menu__list__item__part">
                <li class="menu__list__instance"><a href="#">Jackets</a></li>
                <li class="menu__list__instance"><a href="#">Shirts</a></li>
                <li class="menu__list__instance"><a href="#">Suits</a></li>
                <li class="menu__list__instance"><a href="#">Trousers</a></li>
              </ul>
            </div>
          </div>
          <div class="sale">
            Autumn sale!
            up to 50% off
          </div>
        </div>
      </li>
      <li class="main__menu__item"><a class="main__menu__item__link" href="#">Women</a></li>
      <li class="main__menu__item"><a class="main__menu__item__link" href="#">The brand</a></li>
      <li class="main__menu__item"><a class="main__menu__item__link" href="#">Local stories</a></li>
      <li class="main__menu__item"><a class="main__menu__item__link" href="#">Local book</a></li>
      <li class="main__menu__item">
        <form class="search__form" method="post">
          <label for="search">
            <input placeholder="Поиск" id="search" type="text">
            <button class="search__btn"><i class="fas fa-search"></i></button>
          </label>
        </form>
      </li>
    </ul>
  </nav>
</header>
<main>
  <section class="Content">

    <div class="products__list">

      <div class="phone products__item">

        <img src="./img/products__img/phone.png" alt="" class="product__img__phone">
        <p class="price">£89.99</p>

      </div>


      <div class="printer products__item">

        <img src="./img/products__img/printer.png" alt="" class="product__img__printer">
        <p class="price">£47.50</p>

      </div>

      <div class="tv products__item">

        <img src="./img/products__img/tv.png" alt="" class="product__img__tv">
        <p class="price">£107  £89.99 </p>

      </div>

    </div>

  </section>
  <section></section>
</main>
<footer></footer>
</body>

</html>
