<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <link rel="stylesheet" href="css/location.css">


  <meta name="theme-color" content="#fafafa">
  <script src="./js/main.js">

  </script>
</head>

<body>

<header>

  <div class="top__line">

    <div class="container">
      <a href="#">Currency:GBP</a>

      <ul class="top_menu">
        <li class="item_top_menu"><a href="#">Register</a></li>
        <li class="item_top_menu"><a href="#">Sign in</a></li>
        <li class="item_top_menu cart">
          <a href="#">
            <i class="fas fa-shopping-cart"></i>
            empty
            <i class="fas fa-angle-down"></i>
          </a>
        </li>
      </ul>

    </div>

  </div>

  <div class="main_menu_bg">

    <div class="main_menu">

      <h2 class="home_title">ATOM <span>SORE</span> </h2>

      <menu class="main_menu_of_site">
        <li class="menu_item"> <a href="#">menu</a> </li>
        <li class="menu_item"> <a href="#">womens</a> </li>
        <li class="menu_item"> <a href="#">the brand</a> </li>
        <li class="menu_item"> <a href="#">local stores</a> </li>
        <li class="menu_item search_item_of_menu">
          <form>
            <label class="search_container" for="search">

              <input type="text" id="search" placeholder="Search...">
              <button class="search_btn">
                <i class="fas fa-search"></i>
              </button>

            </label>
          </form>
        </li>
      </menu>

    </div>

  </div>

  <div class="main_bg">

    <!-- {% block title_section %} -->

    <h1 class="main_title">
      Our location
    </h1>

    <!-- {% endblock %} -->

  </div>

</header>

<main>

<section class="Map_section">

  <div class="map">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152484.10156449908!2d83.52715346586143!3d53.33315792529585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42dda1e8c72eeeab%3A0xb0e7bbef8d87b503!2z0JHQsNGA0L3QsNGD0LssINCQ0LvRgtCw0LnRgdC60LjQuSDQutGA0LDQuQ!5e0!3m2!1sru!2sru!4v1579356765363!5m2!1sru!2sru" width="1200" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>

  <div class="our_location_information">

    <h2 class="location_title">Barnaul</h2>

    <ul class="location_info-list">
      <li><i class="fas fa-map-marker"></i> <span>180-182 Regent Street, London, W1B 5BT</span></li>
      <li><i class="fas fa-phone-alt"></i> <span>0123-456-789</span></li>
      <li><i class="fas fa-link"></i> <span>www.yourwebsite.com</span></li>
      <li><i class="fas fa-envelope"></i> <span>support@yourwebsite.com</span></li>
      <li><i class="fas fa-clock"></i> <span>Monday-Friday: 9am to 6pm  Saturday: 10am to 6pm  Sunday: 10am to 2pm</span></li>
      <li><i class="fab fa-accessible-icon"></i> <span>delivery Vedyaikin</span></li>
    </ul>

  </div>

</section>

</main>

<footer>

  <form class="feedback_form">

    <h3 class="feedback_title">
      Feedback
    </h3>

    <label for="email_feedback_form">
      <input type="text" id="email_feedback_form" placeholder="Email...">
    </label>

    <label for="text_feedback_form">
      <input type="text" id="text_feedback_form" placeholder="Text...">
    </label>

    <button type="submit" class="btn_of_feedback_form">
      send
    </button>


  </form>

  <div class="bttom_line">

    <p class="date">2019 - 2200</p>

  </div>

</footer>

</body>

</html>
